@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #f8f5f5;
    --black: #13131a;
    --bg: #5EA3E3;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 7%;
}

body {
    background: var(--main-color);
}

.cabeçalho {
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 3%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.cabeçalho .logo img {
    height: 4rem;
    border-radius: 10px;
    background-position: 50% 0;
}

.cabeçalho .navbar a {
    margin: 3rem;
    font-size: 2rem;
    color: #fff;
}

.cabeçalho .navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--bg);
    padding-bottom: .5rem;
}

.cabeçalho .icons a {
    color: #fff;
}

.cabeçalho .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
    margin-left: 2rem;
}

.cabeçalho .icons div:hover {
    color: var(--bg);
}

.cabeçalho .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

#menu-btn {
    display: none;
}

.home {
    position: relative;
    background: #6c7079;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.home:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background: url(../img/Homepage.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-position: 50% 0;

}

.home .texto {
    max-width: 60rem;
}

.home .texto h3 {
    font-size: 4rem;
    text-transform: uppercase;
    color: #fff;
}

.text_service {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    padding: 10rem;
}

.sobre {
    display: flex;
    padding: 5rem;
    background: var(--main-color);
    flex-wrap: wrap;
}

.sobre .imagem {
    flex: 1 1 45rem;
}

.sobre .imagem img {
    width: 100%;
}

.sobre .texto {
    flex: 1 1 45rem;
}

.sobre .texto h3 {
    color: var(--black);
    font-size: 2.5rem;
}

.sobre .texto p {
    color: var(--black);
    line-height: 1.7;
    padding: 1rem 0;
    font-size: 1.5rem;

}

.Container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;
}

.Container .box-container .box {
    padding: 4rem 4rem 4rem 4rem;
    text-align: center;
    border: var(--bg);
    background-color: #FFFFFF;
    border-radius: 2rem;
}

.Container .box-container .box:hover {
    background-color: var(--main-color);
    padding-bottom: .5rem;
    padding-top: 10px;
}


.Container .box-container .box img {
    height: 10rem;
}

.Container .box-container .box h3 {
    color: var(--black);
    padding: 1rem 0;
    font-size: 1.5rem;
}

.Container .box-container .box p {
    color: #FFFFFF;
}

.Container .box-container .box p:hover {
    padding: 1rem 0;
    font-size: 1.5rem;
    color: var(--black);
}

.rodape {
    background: var(--black);
    text-align: center;
}

.rodape .redes {
    padding: 1rem 0;
}

.rodape .redes a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.rodape .redes a:hover {
    background-color: var(--main-color);
}

.rodape .credito {
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.rodape .credito span {
    color: var(--main-color);
}

@media (max-width:768px) {

    #menu-btn {
        display: inline-block;
    }

    .cabeçalho .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .cabeçalho .navbar.active {
        right: 0;
    }

    .cabeçalho .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .cabeçalho .search-form {
        width: 90%;
        right: 2rem;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

}

@media(max-width:991px) {
    html {
        font-size: 55%;
    }

    .cabeçalho {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }
}