<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cadastro de Veículos</title>
  <link rel="stylesheet" href="../css/cadveiculos.css">
</head>
<body>
  <header>
    <img src="../img/logo.jpg" alt="Logo">
  </header>

  <div class="cadastro">
    <h2>Cadastro de Veículos</h2>
    {{#if message}}
      <p>{{message}}</p>
    {{/if}}
    <form action="/cadveiculos/register" method="POST">
      <div>
        <label for="marca">Marca:</label>
        <input type="text" id="marca" name="marca">
      </div>
      <div>
        <label for="modelo">Modelo:</label>
        <input type="text" id="modelo" name="modelo">
      </div>
      <div>
        <label for="renavam">Renavam:</label>
        <input type="text" id="renavam" name="renavam">
      </div>
      <div>
        <label for="placa">Placa:</label>
        <input type="text" id="placa" name="placa">
      </div>
      <div>
        <label for="dataCompra">Data de Compra:</label>
        <input type="date" id="dataCompra" name="dataCompra">
      </div>
      <div>
        <label for="dataVencimento">Data de Vencimento:</label>
        <input type="date" id="dataVencimento" name="dataVencimento">
      </div>
      <button type="submit">Cadastrar</button>
    </form>
  </div>
</body>
</html>
