<html>

  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/personalData.css" />
    <link rel="stylesheet" href="/css/homepage.css" />
  </head>

  <body>
    <header class="cabeçalho">
      <a href="#" class="logo">
        <img src="/img/logo.jpg" alt="logo do sistema" />
      </a>
      <div class="icons">
        <div class="fas fa-bars" id="menu-btn"></div>
      </div>

      <div class="search-form">
        <input type="text" id="search-box" placeholder="search here..." />
        <label for="search-box" class="fas fa-search"></label>
      </div>
    </header>

    <div class="container tela-extensa">
      <div class="usuario-container">
        <div class="gestao-de-dados">
          <h2>Cadastro de Veículos</h2><br /><br />
          {{#if message}}
            <p>{{message}}</p>
          {{/if}}
          <form action="/cadveiculos/register" method="POST">
            <label for="marca">Marca:</label>
            <input type="text" id="marca" name="marca" />

            <label for="modelo">Modelo:</label>
            <input type="text" id="modelo" name="modelo" />

            <label for="renavam">Renavam:</label>
            <input type="text" id="renavam" name="renavam" />

            <label for="placa">Placa:</label>
            <input type="text" id="placa" name="placa" />

            <label for="telefone">Data de Compra:</label>
            <input type="date" id="dataCompra" name="dataCompra" />

            <label for="dataVencimento">Data de Vencimento:</label>
            <input type="date" id="dataVencimento" name="dataVencimento" />

            <button type="submit" class="botao">Cadastrar</button>
          </form>
        </div>
      </div>
    </div>

    <section class="rodape" id="Contato">
      <div class="redes">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
      </div>
      <div class="credito"> <span>@IF sistema</span></div>
    </section>

    <script src="/js/homepage.js"></script>
    <script
      src="https://kit.fontawesome.com/560011bd3e.js"
      crossorigin="anonymous"
    ></script>
  </body>

</html>