<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/personalData.css">
    <link rel="stylesheet" href="css/homepage.css">
</head>

<body>
    <header class="cabeçalho">
        <a href="#" class="logo">
            <img src="/img/logo.jpg" alt="logo do sistema">
        </a>
        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>

        <div class="search-form">
            <input type="text" id="search-box" placeholder="search here...">
            <label for="search-box" class="fas fa-search"></label>
        </div>
    </header>

    {{#if message}}
    <p>{{message}}</p>
    {{else}}

    <div class="container">
        <div class="usuario-container">
            <div class="gestao-de-dados">
            <h1>Informe seu endereço de e-mail</h1><br>
            <form action="/recover-password" method="POST">
                <input type="email" name="email" required>
                <button type="submit" class="botao">Receber e-mail</button>
            </form>
        </div>
    </div>
    </div>

    {{/if}}

    <section class="rodape" id="Contato">
        <div class="redes">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>
        <div class="credito"> <span>@IF sistema</span></div>
    </section>

    <script src="/js/homepage.js"></script>
    <script src="https://kit.fontawesome.com/560011bd3e.js" crossorigin="anonymous"></script>
</body>

</html>