<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página do usuário</title>

    <!-- Link do font awesome  -->
    <link rel="stylesheet" href="../fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/css/homepage.css" />
    <link rel="stylesheet" href="/css/client-panel.css">
</head>

<body>
    <header class="cabeçalho">
        <a href="#" class="logo">
            <img src="/img/logo.jpg" alt="logo do sistema" />
        </a>

        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>
    </header>

    <div class="container">
        <div class="usuario-container">
            <a href="./login" class="back"><i class="fa-sharp fa-solid fa-xmark"></i></a>
            <div class="conta">
                <h3 class="img"><img src="/img/user.png" alt="icone de usuário"></h3><br><br>
                <h3><a href="#"> <i class="fa fa-lock" aria-hidden="true"></i> Dados de
                        acesso</a></h3><br>

                <h3><a href="/personalData" target="_self"> <i class=" fa fa-address-book" aria-hidden="true"></i>Dados
                        pessoal</a></h3>
            </div>

            <div class="gestao-de-dados">
                <h2> Bem vindo(a) {{name}}!</h2><br><br>
                <!--<p>{{email}}</p><br><br>-->

                <form>
                    <label for="codigo-pedido">Digite o código do pedido:</label>
                    <input type="text" id="codigo-pedido" name="codigo-pedido">
                    <button type="submit" class="botao">Buscar</button>
                </form>
                <div class="status-pedido">
                    <h2>Histórico de pedidos:</h2><br>
                    <div class="status-bar">
                        <div class="status-item">
                            <span class="status-number">1</span>
                            <span class="status-name">Pedido Recebido</span>
                        </div>
                        <div class="status-item">
                            <span class="status-number">2</span>
                            <span class="status-name">Preparando para envio</span>
                        </div>
                        <div class="status-item">
                            <span class="status-number">3</span>
                            <span class="status-name">Enviado</span>
                        </div>
                        <div class="status-item">
                            <span class="status-number">4</span>
                            <span class="status-name">Entregue</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="rodape" id="Contato">

        <div class="redes">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>
        <div class="credito"> <span>@IF sistema</span></div>
    </section>

    <script src="/js/homepage.js"></script>
    <script src="https://kit.fontawesome.com/560011bd3e.js" crossorigin="anonymous"></script>
</body>