<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homepage.css" />
    <link rel="stylesheet" href="/css/center.css">
    <link rel="stylesheet" href="./fontawesome/css/all.min.css" />
    <title>{{title}}</title>
</head>
<body>
    <header class="cabeçalho">
        <a href="#" class="logo">
            <img src="/img/logo.jpg" alt="logo do sistema">
        </a>

        <nav class="navbar">
            <a href="./centerRegistration">Cadastar novo centro</a>
            <a href="./centerList">Listar centros</a>
        </nav>

        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>

        <div class="search-form">
            <input type="text" id="search-box" placeholder="search here...">
            <label for="search-box" class="fas fa-search"></label>
        </div>
    </header>

    <section class="center" id="Inicio">
        <div class="texto">
            <h3>Entrega rapida e segura  desde a saída da fábrica até a entrega a sua casa! </h3>
        </div>
    </section>

    <section class="rodape" id="Contato">
        <div class="redes">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>
        <div class="credito"> <span>@IF sistema</span></div>
    </section>

    <script src="/js/homepage.js"></script>
    <script src="https://kit.fontawesome.com/560011bd3e.js" crossorigin="anonymous"></script>
</body>
</html>