<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
  <link href="/css/login.css" rel="stylesheet" />
  <title>Tela de Login</title>
</head>

<body>
  <div class="login">
    <div class="imagem">
      <img src="/img/login.png" alt="Imagem Logo" width="70" />
    </div>

    <div class="container">
      <p>Seja bem-vindo(a)!</p>
      <form action="/auth/login" method="POST">
        <div class="form-group">
          <label for="email">Email Adress</label>
          <input type="email" class="form-control email" id="email" name="email">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control password" id="password" name="password">
        </div>

        <button type="submit" class="btn btn-primary button-entrar">Login</button>

        <a href="./recuperarsenha.html">
          <p class="complement">Esqueci minha senha</p>
        </a>
      </form>
    </div>
    {{#if message}}
    <h4 class="alert alert-danger mt4">{{message}}</h4>
    {{/if}}

  </div>
</body>

</html>